@use 'sass:color';
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'libs/ui/src/lib/styles/theme';
@import 'libs/ui/src/lib/styles/mixins/menu';

:root {
  // iterate over $colors sass map and set global CSS variables for easy access
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
  --font-family: 'Courier New', Courier, monospace;
  --font-size: 16px;
}

body {
  background-image: repeating-linear-gradient(
      transparent,
      #ccc 1px,
      transparent 1px,
      transparent 5px
    ),
    linear-gradient(to bottom, transparent 50%, var(--background) 50%),
    radial-gradient(
      circle closest-side,
      color.adjust(map-get($colors, danger), $lightness: -5%) 50%,
      transparent 50%
    ),
    linear-gradient(var(--warn) 5%, var(--danger) 50%, var(--background) 50%);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 16px;
  height: 100vh;
  padding: 0;
  margin: 0;

  & * {
    background-color: var(--background);
  }

  .cdk-overlay-container,
  .cdk-overlay-connected-position-bounding-box {
    background-color: transparent;
    @include menu-styles();
  }
}
